.third-section{
	background-image: url(../../../commonResource/Images/march9apple2023/third.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;
}
.product-title3 {
	color: #ffffff;
	line-height: 20px;
	padding-top: 40px;
	font-weight: 700;
	font-size: 56px;
}
.brief-description3 {
	padding-top: 30px;
	color: #ffffff;
	font-size: 27px;
}